@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

@font-face {
  font-family: LemonMilk;
  src: url(fonts/LEMONMILK-Bold.otf);
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'LemonMilk', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #736969;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: padding 300ms;
  #hamburger {
    transition: 200ms;
    span {
      display: block;
      height: 3px;
      width: 27px;
      margin: 5px;
      background: #ebe8e8;
      transition: 200ms;
    }
    &.active {
      transform: translateX(-140px);
      span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
  nav {
    height: 100vh;
    width: 140px;
    position: fixed;
    top: 0;
    right: 0;
    background: #403b3b;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    transition: 200ms;
    transform: translateX(140px);
    a {
      font-family: "Montserrat", sans-serif;
      text-decoration: none;
      color: #ebe8e8;
      font-size: 20px;
      padding: 10px;
      margin: 5px 0;
      transition: 200ms;
      &:hover {
        background: #201e1e;
      }
    }
    &.active {
      transform: translateX(0px);
    }
  }
}

#topButton {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
  background: #201e1e;
  border-radius: 10px;
  z-index: 998;
  cursor: pointer;
  transition: 200ms;
  transform: translateY(100px);
  i {
    color: #ebe8e8;
    padding: 12px;
  }
  &.active {
    transform: translateY(100px) translateX(-140px);
  }
}

#landing {
  display: flex;
  .left {
    height: 100vh;
    width: 50%;
    background: #ebe8e8;
    position: relative;
    font-family: "Montserrat", sans-serif;
    color: #736969;
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
      width: 80%;
      margin: 0 auto;
      h1 {
        color: #403b3b;
        font-size: 8.5vw;
        font-family: "LemonMilk", sans-serif;
      }
      hr {
        height: 3px;
        border: none;
        background: #736969;
      }
      h2 {
        font-weight: 300;
        font-size: 2em;
        &:last-of-type {
          padding-top: 60px;
        }
      }
    }
    #socials {
      position: absolute;
      bottom: 20px;
      right: 30px;
      font-size: 28px;
      a {
        margin: 0 5px;
        color: #403b3b;
        text-decoration: none;
        transition: 300ms;
      }
      #discord:hover {
        color: #7289da;
      }
      #wiki:hover {
        color: #00d5d5;
      }
      #twitter:hover {
        color: #55abee;
      }
      #reddit:hover {
        color: #ff3f18;
      }
      #instagram:hover {
        color: #d82e7a;
      }
    }
  }
  .right {
    height: 100vh;
    width: 50%;
    .slider {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      .slides {
        width: 100%;
        height: 500%;
        display: flex;
        flex-direction: column;
        input {
          display: none;
        }
        .slide {
          width: 100%;
          height: 100vh;
          transition: margin-top 2s;
          position: relative;
          .bottom {
            background: rgba(32, 30, 30, 0.85);
            position: absolute;
            bottom: 0;
            font-family: "Montserrat", sans-serif;
            color: #ebe8e8;
            padding: 30px;
            h1 {
              font-size: 2em;
              padding-bottom: 10px;
            }
            p {
              font-size: 16px;
            }
          }
        }
        #slide1 {
          background: url("assets/carousel/1.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        #slide2 {
          background: url("assets/carousel/2.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        #slide3 {
          background: url("assets/carousel/3.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        #slide4 {
          background: url("assets/carousel/4.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .nav-auto {
          position: absolute;
          left: 10px;
          top: 50%;
          display: flex;
          flex-direction: column;
          div {
            border: 2px solid #ebe8e8;
            padding: 5px;
            border-radius: 10px;
            transition: 300ms;
            &:not(:last-child) {
              margin-bottom: 15px;
            }
            &:hover {
              background: #ebe8e8;
            }
          }
        }
      }
      .nav-manual {
        position: absolute;
        left: 10px;
        top: 50%;
        display: flex;
        flex-direction: column;
        .manual-btn {
          border: 2px solid #ebe8e8;
          padding: 5px;
          border-radius: 10px;
          cursor: pointer;
          transition: 300ms;
          &:not(:last-child) {
            margin-bottom: 15px;
          }
          &:hover {
            background: #ebe8e8;
          }
        }
      }
      #radio1:checked ~ .first {
        margin-top: 0;
      }
      #radio2:checked ~ .first {
        margin-top: -100vh;
      }
      #radio3:checked ~ .first {
        margin-top: -200vh;
      }
      #radio4:checked ~ .first {
        margin-top: -300vh;
      }
      #radio1:checked ~ .nav-auto .auto-btn1 {
        background: #ebe8e8;
      }
      #radio2:checked ~ .nav-auto .auto-btn2 {
        background: #ebe8e8;
      }
      #radio3:checked ~ .nav-auto .auto-btn3 {
        background: #ebe8e8;
      }
      #radio4:checked ~ .nav-auto .auto-btn4 {
        background: #ebe8e8;
      }
    }
  }
}

#about {
  h1 {
    padding: 10px 0;
    background: #403b3b;
    color: #ebe8e8;
    text-align: center;
    font-family: "LemonMilk", sans-serif;
    font-size: 62px;
  }
  .split {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    width: 100%;
    background: #dedcdc;
    &:nth-child(odd) {
      background: #d7d5d5;
    }
    .image {
      width: 48%;
      height: 300px;
    }
    p {
      width: 48%;
      line-height: 1.5em;
      color: #403b3b;
      font-family: "Montserrat", sans-serif;
    }
    .wrapper p:last-child {
      margin-top: 30px;
      font-weight: bold;
      a {
        color: #497a95;
        text-decoration: none;
      }
    }
  }
}

#rules {
  background: #201e1e;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #ebe8e8;
  h1 {
    font-family: "LemonMilk", sans-serif;
    font-size: 62px;
    padding: 20px;
  }
  h2 {
    font-size: 20px;
    padding-bottom: 20px;
    color: #fcd770;
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #434040;
    padding: 0 30px;
    .card {
      padding: 30px 0;
      p {
        font-weight: bold;
        width: 300px;
        font-size: 16px;
      }
    }
  }
  h3 {
    padding: 30px;
    font-size: 16px;
    width: 60%;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: #497a95;
      font-weight: bold;
    }
  }
}

#donate {
  display: flex;
  .left {
    width: 50%;
    background: #201e1e;
    font-family: "Montserrat", sans-serif;
    color: #ebe8e8;
    h1 {
      font-family: "LemonMilk", sans-serif;
      font-size: 62px;
      text-align: center;
      color: #fcd770;
      padding: 80px 0;
    }
    p {
      font-size: 16px;
      width: 70%;
      margin: 0 auto;
      line-height: 1.5em;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      margin: 80px auto;
      padding: 15px;
      background: #434040;
      color: #ebe8e8;
      text-decoration: none;
    }
  }
  .right {
    width: 50%;
    padding: 30px;
		background: url("assets/carousel/3.png");
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		#silver {background: rgba($color: #e8e8e8, $alpha: 0.85);}
		#gold {background: rgba($color: #e7e34e, $alpha: 0.85);}
		#platinum {background: rgba($color: #3ee0da, $alpha: 0.85);}
		#ultimate {background: rgba($color: #c431e5, $alpha: 0.85);}
		#prestige {background: rgba($color: #e53131, $alpha: 0.85);}
    .card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
      cursor: pointer;
    	font-family: "Montserrat", sans-serif;
			color: #ebe8e8;
			height: 100px;
			font-weight: bold;
			font-size: 56px;
			padding: 0 30px;
      .hover {
        position: absolute;
				top: 0;
				right: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        background: #434040;
        transition: 300ms;
				padding: 10px;
				line-height: 1.5em;
				font-size: 20px;
      }
      &:hover {
        .hover {
          opacity: 1;
        }
      }
    }
  }
}

#vote {
	font-family: 'Montserrat', sans-serif;
	background: #ebe8e8;
	h1 {
		color: #497a95;
		font-family: 'LemonMilk', sans-serif;
		text-align: center;
		font-size: 62px;
    padding: 20px;
	}
	h2 {
		font-size: 16px;
		width: 60%;
		margin: 0 auto;
		&:last-of-type {
			background: #434040;
			color: #ebe8e8;
		}
	}

}
