@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@font-face {
  font-family: LemonMilk;
  src: url(fonts/LEMONMILK-Bold.otf);
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'LemonMilk', sans-serif;
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.5em;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #736969;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: padding 300ms;
  opacity: 1;
}
header #header-ip {
  transition: 200ms;
}
header #hamburger {
  transition: 200ms;
}
header #hamburger span {
  display: block;
  height: 3px;
  width: 27px;
  margin: 5px;
  background: #201e1e;
  transition: 200ms;
}
header #hamburger.scrolling span {
  background: #ebe8e8;
}
header #hamburger.active {
  transform: translateX(-140px);
}
header #hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
header #hamburger.active span:nth-child(2) {
  opacity: 0;
}
header #hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
header nav {
  height: 100vh;
  width: 140px;
  position: fixed;
  top: 0;
  right: 0;
  background: #403b3b;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  transition: 200ms;
  transform: translateX(140px);
}
header nav a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #ebe8e8;
  font-size: 20px;
  padding: 10px;
  margin: 5px 0;
  transition: 200ms;
}
header nav a:hover {
  background: #201e1e;
}
header nav.active {
  transform: translateX(0px);
}

#topButton {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
  background: #201e1e;
  border-radius: 10px;
  z-index: 998;
  cursor: pointer;
  transition: 200ms;
  transform: translateY(100px);
}
#topButton i {
  color: #ebe8e8;
  padding: 12px;
}
#topButton.active {
  transform: translateY(100px) translateX(-140px);
}

#landing {
  display: flex;
}
#landing .left {
  height: 100vh;
  min-height: 845px;
  width: 50%;
  background: #ebe8e8;
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #736969;
  display: flex;
  align-items: center;
  justify-content: center;
}
#landing .left .content {
  width: 80%;
  margin: 0 auto;
}
#landing .left .content h1 {
  color: #403b3b;
  font-size: 7vw;
  font-family: "LemonMilk", sans-serif;
}
#landing .left .content hr {
  height: 3px;
  border: none;
  background: #736969;
}
#landing .left .content h2 {
  font-weight: 300;
  font-size: 2em;
}
#landing .left .content h2:last-of-type {
  padding-top: 60px;
}
#landing .left #socials {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 28px;
}
#landing .left #socials a {
  margin: 0 5px;
  color: #403b3b;
  text-decoration: none;
  transition: 300ms;
}
#landing .left #socials #discord:hover {
  color: #7289da;
}
#landing .left #socials #wiki:hover {
  color: #00d5d5;
}
#landing .left #socials #twitter:hover {
  color: #55abee;
}
#landing .left #socials #reddit:hover {
  color: #ff3f18;
}
#landing .left #socials #instagram:hover {
  color: #d82e7a;
}
#landing .right {
  height: 100vh;
  min-height: 845px;
  width: 50%;
}
#landing .right .slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#landing .right .slider .slides {
  width: 100%;
  height: 500%;
  display: flex;
  flex-direction: column;
}
#landing .right .slider .slides input {
  display: none;
}
#landing .right .slider .slides .slide {
  width: 100%;
  height: 100vh;
  min-height: 845px;
  transition: margin 2s;
  position: relative;
}
#landing .right .slider .slides .slide .bottom {
  width: 100%;
  background: rgba(32, 30, 30, 0.85);
  position: absolute;
  bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #ebe8e8;
  padding: 30px;
}
#landing .right .slider .slides .slide .bottom h1 {
  font-size: 2em;
  padding-bottom: 10px;
}
#landing .right .slider .slides .slide .bottom p {
  font-size: 16px;
}
#landing .right .slider .slides #slide1 {
  background: url("assets/carousel/1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#landing .right .slider .slides #slide2 {
  background: url("assets/carousel/2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#landing .right .slider .slides #slide3 {
  background: url("assets/carousel/3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#landing .right .slider .slides #slide4 {
  background: url("assets/carousel/4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#landing .right .slider .slides .nav-auto {
  position: absolute;
  left: 10px;
  top: 50%;
  display: flex;
  flex-direction: column;
}
#landing .right .slider .slides .nav-auto div {
  border: 2px solid #ebe8e8;
  padding: 5px;
  border-radius: 10px;
  transition: background 300ms;
  margin-bottom: 15px;
}
#landing .right .slider .slides .nav-auto div:hover {
  background: #ebe8e8;
}
#landing .right .slider .nav-manual {
  position: absolute;
  left: 10px;
  top: 50%;
  display: flex;
  flex-direction: column;
}
#landing .right .slider .nav-manual .manual-btn {
  border: 2px solid #ebe8e8;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 300ms;
  margin-bottom: 15px;
}
#landing .right .slider .nav-manual .manual-btn:hover {
  background: #ebe8e8;
}
#landing .right .slider #radio1:checked ~ .first {
  margin-top: 0;
}
#landing .right .slider #radio2:checked ~ .first {
  margin-top: -100vh;
}
#landing .right .slider #radio3:checked ~ .first {
  margin-top: -200vh;
}
#landing .right .slider #radio4:checked ~ .first {
  margin-top: -300vh;
}
#landing .right .slider #radio1:checked ~ .nav-auto .auto-btn1 {
  background: #ebe8e8;
}
#landing .right .slider #radio2:checked ~ .nav-auto .auto-btn2 {
  background: #ebe8e8;
}
#landing .right .slider #radio3:checked ~ .nav-auto .auto-btn3 {
  background: #ebe8e8;
}
#landing .right .slider #radio4:checked ~ .nav-auto .auto-btn4 {
  background: #ebe8e8;
}

#about #about-scroll {
  transform: translateY(-49px);
  position: relative;
}
#about h1 {
  padding: 10px 0;
  background: #403b3b;
  color: #ebe8e8;
  text-align: center;
  font-family: "LemonMilk", sans-serif;
  font-size: 62px;
}
#about .split {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #dedcdc;
}
#about .split:nth-child(odd) {
  background: #d7d5d5;
}
#about .split .image {
  width: 50%;
  height: 400px;
}
#about .split .image.first {
  background: url("assets/about/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#about .split .image.second {
  background: url("assets/about/2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#about .split .image.third {
  background: url("assets/about/3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#about .split p {
  padding: 30px;
  width: 50%;
  line-height: 2em;
  color: #403b3b;
  font-family: "Montserrat", sans-serif;
}
#about .split .container {
  width: 48%;
}
#about .split .container p {
  width: 100%;
}
#about .split .container p:last-child {
  margin-top: 30px;
  font-weight: bold;
}
#about .split .container p:last-child a {
  color: #497a95;
  text-decoration: none;
}

#rules {
  background: #201e1e;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #ebe8e8;
}
#rules #rules-scroll {
  transform: translateY(-49px);
  position: relative;
}
#rules h1 {
  font-family: "LemonMilk", sans-serif;
  font-size: 62px;
  padding-top: 20px;
}
#rules h2 {
  font-size: 20px;
  padding: 30px;
  color: #fcd770;
}
#rules .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  background: #434040;
  padding: 30px;
}
#rules .icons .card i {
  padding-bottom: 30px;
  font-size: 64px;
  color: #497a95;
}
#rules .icons .card p {
  font-weight: bold;
  width: 300px;
  font-size: 16px;
}
#rules h3 {
  padding: 30px;
  font-size: 16px;
  width: 60%;
  margin: 0 auto;
  line-height: 2em;
}
#rules h3 a {
  text-decoration: none;
  color: #497a95;
  font-weight: bold;
}

#ip {
  background: #497a95;
  padding: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #ebe8e8;
}
#ip h2 {
  font-size: 28px;
}
#ip input {
  margin: 20px 0;
  padding: 10px;
  font-size: 20px;
  border: none;
  color: #201e1e;
  background: #ebe8e8;
}
#ip button {
  padding: 10px;
  font-size: 20px;
  border: none;
  color: #ebe8e8;
  background: #434040;
}
#ip button i {
  color: #fcd770;
}
#ip button.copied i {
  color: #34df34;
}
#ip p {
  opacity: 0;
}

#donate {
  display: flex;
  height: 80vh;
  min-height: 945px;
}
#donate #donate-scroll {
  transform: translateY(-49px);
  position: relative;
}
#donate .left {
  width: 50%;
  background: #201e1e;
  font-family: "Montserrat", sans-serif;
  color: #ebe8e8;
}
#donate .left h1 {
  font-family: "LemonMilk", sans-serif;
  font-size: 62px;
  text-align: center;
  color: #fcd770;
  padding: 80px 0;
}
#donate .left p {
  font-size: 16px;
  line-height: 2em;
  padding: 10px 60px;
}
#donate .left a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 80px auto;
  padding: 15px;
  background: #434040;
  color: #ebe8e8;
  text-decoration: none;
}
#donate .left a i {
  margin-right: 30px;
}
#donate .right {
  width: 50%;
  padding: 30px;
  background: url("assets/donate/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
#donate .right #silver {
  background: rgba(232, 232, 232, 0.65);
}
#donate .right #gold {
  background: rgba(231, 227, 78, 0.65);
}
#donate .right #platinum {
  background: rgba(62, 224, 218, 0.65);
}
#donate .right #ultimate {
  background: rgba(196, 49, 229, 0.65);
}
#donate .right #prestige {
  background: rgba(229, 49, 49, 0.65);
}
#donate .right .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: #ebe8e8;
  height: 120px;
  font-weight: bold;
  font-size: 32px;
  padding: 0 30px;
  overflow: hidden;
}
#donate .right .card .hover {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #434040;
  transition: 200ms;
  padding: 20px;
  line-height: 1.5em;
  font-size: 20px;
}
#donate .right .card:hover .hover {
  bottom: 0;
}

#vote {
  font-family: "Montserrat", sans-serif;
  background: #ebe8e8;
}
#vote #vote-scroll {
  transform: translateY(-49px);
  position: relative;
}
#vote h1 {
  color: #497a95;
  font-family: "LemonMilk", sans-serif;
  text-align: center;
  font-size: 62px;
  padding-top: 20px;
}
#vote h2 {
  font-size: 16px;
  margin: 0 auto;
  padding: 30px 10%;
  text-align: center;
  color: #403b3b;
}
#vote h2:last-of-type {
  background: #434040;
  color: #ebe8e8;
}
#vote .content {
  background: #d4d3d3;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}
#vote .content section {
  text-align: center;
}
#vote .content section h3 {
  font-size: 36px;
  padding: 30px 0;
  color: #403b3b;
}
#vote .content section .wrapper {
  display: grid;
}
#vote .content section .wrapper .card {
  margin: 10px;
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ebe8e8;
}
#vote .content section .wrapper .card .right,
#vote .content section .wrapper .card .left {
  width: 50%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
#vote .content section .wrapper .card h4 {
  font-size: 26px;
}
#vote .content section .wrapper .card img {
  padding-right: 10px;
}
#vote .content section.links .wrapper .card {
  background: #497a95;
}
#vote .content section.links .wrapper .card a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #ebe8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
#vote .content section.recurring .wrapper {
  grid-template-columns: repeat(2, 1fr);
}
#vote .content section.recurring .wrapper .card {
  background: #828181;
}
#vote .content section.recurring .wrapper .card .left {
  background: #201e1e;
}
#vote .content section.one-time .wrapper .card {
  color: #403b3b;
  background: #dedcdc;
}
#vote .content section.one-time .wrapper .card .left {
  background: #fcd770;
}

footer {
  background: #201e1e;
  color: #ebe8e8;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 20px 0 220px 0;
}
footer p {
  margin: 15px 0;
}
footer a {
  color: #497a95;
  text-decoration: none;
}

@media all and (max-width: 1575px) {
  #vote .content .wrapper {
    margin: 0;
    grid-template-columns: unset !important;
  }
}
@media all and (max-width: 1185px) {
  #vote .content {
    flex-direction: column;
  }
  #vote .content .wrapper {
    justify-content: center;
  }
}
@media all and (max-width: 1355px) {
  #donate {
    flex-direction: column;
    height: auto;
  }
  #donate .right,
#donate .left {
    width: 100%;
  }
  #donate .right {
    align-items: center;
  }
  #donate .right .card {
    margin: 15px 0;
  }
  #donate .right .card p {
    font-size: 32px;
  }
  #donate .right .card .hover p {
    font-size: 14px;
  }
}
@media all and (max-width: 865px) {
  header #header-ip.active {
    opacity: 0;
  }
  header #hamburger span {
    background: #403b3b;
  }

  #landing {
    flex-direction: column;
    height: auto;
  }
  #landing .right,
#landing .left {
    width: 100%;
    height: auto;
  }
  #landing .left {
    min-height: unset !important;
    height: 100vh;
  }
  #landing .left .content {
    margin: 80px 0;
  }
  #landing .left .content h1 {
    font-size: 17vw;
  }
  #landing .left .content h2 {
    font-size: 1.2em;
  }
  #landing .right {
    height: 600px;
    min-height: 600px;
  }
  #landing .right .slider .nav-manual {
    flex-direction: row;
    top: unset !important;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  #landing .right .slider .nav-manual .manual-btn {
    padding: 12px;
    border-radius: 24px;
  }
  #landing .right .slider .nav-manual .manual-btn:not(:last-child) {
    margin-right: 15px;
  }
  #landing .right .slider .nav-manual .manual-btn:hover {
    background: unset !important;
  }
  #landing .right .slider .slides {
    height: 600px;
    width: 500%;
    flex-direction: row;
  }
  #landing .right .slider .slides .nav-auto {
    flex-direction: row;
    top: unset !important;
    bottom: 10px;
    left: 50vw;
    transform: translateX(-50%);
  }
  #landing .right .slider .slides .nav-auto div {
    padding: 12px;
    border-radius: 14px;
  }
  #landing .right .slider .slides .nav-auto div:not(:last-child) {
    margin-right: 15px;
  }
  #landing .right .slider .slides .nav-auto div:hover {
    background: unset !important;
  }
  #landing .right .slider .slides .slide {
    height: 600px;
    min-height: 600px;
    width: 100vw;
  }
  #landing .right .slider .slides .slide .bottom {
    padding-bottom: 80px;
    background: rgba(32, 30, 30, 0.65);
  }
  #landing .right .slider #radio1:checked ~ .first {
    margin-top: 0;
    margin-left: 0;
  }
  #landing .right .slider #radio2:checked ~ .first {
    margin-top: 0;
    margin-left: -100vw;
  }
  #landing .right .slider #radio3:checked ~ .first {
    margin-top: 0;
    margin-left: -200vw;
  }
  #landing .right .slider #radio4:checked ~ .first {
    margin-top: 0;
    margin-left: -300vw;
  }

  #about h1 {
    font-size: 48px;
  }
  #about .split {
    padding: 10px;
  }
  #about .split .image {
    display: none;
  }
  #about .split p {
    width: 100%;
    padding: 20px;
  }
  #about .split .container {
    width: 100%;
  }

  #rules h1 {
    font-size: 48px;
  }
  #rules h2 {
    font-size: 16px;
    text-align: left;
  }
  #rules .icons {
    flex-direction: column;
    align-items: center;
  }
  #rules .icons .card:not(:first-child) {
    margin-top: 60px;
  }
  #rules h3 {
    width: 100%;
    padding: 30px;
    text-align: left;
  }

  #donate .left h1 {
    font-size: 48px;
    padding: 30px;
  }
  #donate .left p {
    padding: 0 30px;
  }
  #donate .right .card {
    width: 100%;
  }

  #vote .content section .wrapper .card {
    height: 100px;
    width: 330px;
    margin: 10px 0;
  }
  #vote h1 {
    padding: 15px 30px 0;
    font-size: 48px;
  }
  #vote h2 {
    text-align: left;
    padding: 15px 30px;
  }
}

/*# sourceMappingURL=main.css.map */
